apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
        - name: django-container
          image: mydjangoapp:latest

          imagePullPolicy: IfNotPresent            # use image from Minikube's Docker
          ports:
            - containerPort: 8000            # Django/Gunicorn port in your Dockerfile
        
